.button-login {
  width: 120px;
  height: 40px;
  color: white;
  background-color: #7c1f15;
}

.button-login:hover {
  background-color: #611910;
  color: #fff;
  transform: scale(1.05);
}

.login-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #6dd5ed, #2193b0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.login-container {
  display: flex;
  max-width: 1000px;
  width: 100%;
  background: transparent;
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex-wrap: wrap;
}

/* Kiri */
.login-info {
  background-color: #007bff;
  color: white;
  flex: 1;
  min-width: 300px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-info img {
  margin-top: 1rem;
  max-width: 250px;
  height: auto;
}

/* Kanan */
.login-form {
  background-color: #fff;
  flex: 1;
  min-width: 300px;
  padding: 2.5rem;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form select {
  border-radius: 999px;
}

.login-form option {
  color: black;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 999px;
  outline: none;
}

.login-form button {
  background-color: #0062ff;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 999px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1rem;
  transition: background 0.3s ease;
}

.login-form button:hover {
  background-color: #004ecc;
}

.login-form small {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: #555;
}

.login-form .link {
  color: #0062ff;
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;
}

.login-form a {
  color: #0062ff;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    border-radius: 12px;
  }

  .login-info,
  .login-form {
    border-radius: 0;
  }

  .login-form {
    padding: 4rem 2.5rem 4rem 1.5rem;
  }
}

/* Halaman Admin */
.admin-header {
  background-color: #ffa500; /* orange */
  color: white;
  padding: 1.2rem;
  margin: 0;
  border-radius: 12px;
  width: 100%;
  font-weight: bold;
}

/* End Halaman Admin */
